rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Complaints collection ke liye
    match /complaints/{document=**} {
      allow read, write: if true;
    }

    // Baaki sab documents ke liye bhi
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
